<div class="row" ng-controller="AddCashierCtrl as ctrl">

    <div class="col-md-4 col-md-offset-4">

        <div class="card card-signup">
            <form class="form">

                <div class="content">



                    <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                        <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Email кассира..."><span class="material-input"></span></div>
                    </div>

                    <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                        <div class="form-group is-empty"><input type="password" placeholder="Придумайте пароль для кассира..." class="form-control"><span class="material-input"></span></div>
                    </div>














                </div>
                <div class="footer text-center">
                    <button class="btn btn-primary" ng-click="ctrl.add()">Добавить кассира</button>
                </div>
            </form>
        </div>





    </div>


</div>