<div class="row" ng-controller="CatCategCtrl as ctrl">

    <div class="col-md-12">




        <md-content layout="column" flex class="custom__md-content__categ">

            <md-card>



                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">





                                <input type="text" ng-model="searchText" placeholder="Поиск..." class="custom__search__input">




                                <button class="btn btn-primary" ng-click="ctrl.addBtn()">Добавить запись</button>










                    </div>
                </md-toolbar>

                <!-- exact table from live demo -->
                <md-table-container class="custom__fix__freez__head">
                    <table md-table ng-model="ctrl.selected">
                        <thead md-head fix-head>
                        <tr md-row>
                            <th md-column></th>
                            <th md-column>ID</th>
                            <th md-column md-order-by="nameToLower">Название</th>
                            <th md-column>Дата создания</th>

                        </tr>
                        </thead>
                        <tbody md-body>





                        <tr md-row md-select="data" md-select-id="id" md-auto-select ng-repeat="data in ctrl.data | filter: searchText" class="hide__checkbox">

                            <td md-cell class="custom__delete"><i class="material-icons" ng-click="ctrl.delete(data._id, data.title)">delete</i></td>

                            <td md-cell>{{data._id}}</td>

                            <td md-cell><input type="text" value="{{data.title}}" ng-model="data.title" ng-blur="ctrl.onBlur(data._id, data.title)"></td>
                            <td md-cell>{{data.createAt}}</td>

                        </tr>
                        </tbody>
                    </table>
                </md-table-container>





            </md-card>


</md-content>


















    </div>


</div>